name: Django Online Store Deploy

on:
  push:
    branches: [ "develop" ]
  workflow_dispatch:

concurrency:
  group: develop
  cancel-in-progress: true

jobs:
  build-and-test:

    runs-on: ubuntu-latest
    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      DJANGO_SUPERUSER_PASSWORD: ${{ secrets.DJANGO_SUPERUSER_PASSWORD }}
      DJANGO_SUPERUSER_EMAIL: ${{ secrets.DJANGO_SUPERUSER_EMAIL }}
      DJANGO_SUPERUSER_USERNAME: ${{ secrets.DJANGO_SUPERUSER_USERNAME }}
      BRAINTREE_MERCHANT_ID: ${{ secrets.BRAINTREE_MERCHANT_ID }}
      BRAINTREE_PUBLIC_KEY: ${{ secrets.BRAINTREE_PUBLIC_KEY }}
      BRAINTREE_PRIVATE_KEY: ${{ secrets.BRAINTREE_PRIVATE_KEY }}
    steps:
    - uses: actions/checkout@v4
    - name: Export Environment Variables
      run: |
        cd online_store
        echo -n "SECRET_KEY=" >> .env
        echo "$SECRET_KEY" >> .env
        echo -n "BRAINTREE_MERCHANT_ID=" >> .env
        echo "$BRAINTREE_MERCHANT_ID" >> .env
        echo -n "BRAINTREE_PUBLIC_KEY=" >> .env
        echo "$BRAINTREE_PUBLIC_KEY" >> .env
        echo -n "BRAINTREE_PRIVATE_KEY=" >> .env
        echo "$BRAINTREE_PRIVATE_KEY" >> .env
    - name: Run Tests
      run: |
        cd online_store && docker compose run online-store python manage.py test
    - name: Set Git config
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"    
    - name: Merge to Main
      if: success() && github.ref == 'refs/heads/develop'
      run: |
        git fetch --unshallow
        git checkout main
        git pull
        git merge --no-ff develop
        git push origin main
